@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Proxima Nova";
  src: url('./assets/fonts/proxima-nova-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('./assets/fonts/proxima-nova-semibold.woff2') format('woff2');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', 'Montserrat', sans-serif;
}
